.Video-wrapper {
	display: grid;
	place-items: center;
	grid-auto-rows: 100%;
	overflow: hidden;
}

.Video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media (orientation: landscape) {
	.Video {
		object-fit: contain;
		width: initial;
		max-width: 100%;
		height: auto;
	}
}
