@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wdth,wght,YTUC@8..144,25..151,200..800,528..760&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus-visible {
	outline: 0.3rem solid rgb(201, 201, 201);
	/* outline-offset: 0.05rem; */
}

:root {
	/* colors */
	--text-color-primary: black;
	--primary-background-color: white;
	--primary-background-color-darker: rgb(204, 204, 204);
	/* font variables */
	--font-1: "Roboto Flex", sans-serif;
	--font-weight-light: 220;
	--font-weight-normal: 300;
	--font-weight-bold-1: 550;
	--font-weight-bold-2: 600;
	--root-font-size-1: 15px;
	--root-font-size-1-m: 16px;
	--root-font-size-1-l: 17px;
	--root-font-size-2: 12.5px;
	--root-font-size-3: 11.5px;
	--root-font-size-4: 10.5px;
	--root-font-size-5: 9.5px;
	--root-font-size-6: 9px;
	--root-font-size-7: 8px;
	--root-font-size-superscript: 8px;
	--line-height: 1.4;
	/* font-variation-settings: "YTLC" 570;
	font-variation-settings: "YTUC" 760; */
	/* welcome pg logo variables */
	--logo-top: 3.2vmax;
	--logo-left: 3.2vmax;
	--logo-width: 15vmax;
	/* misc variables */
	--button-padding-block: 0.2rem;
}

body {
	overflow: hidden;
	position: relative;
}

body,
input,
button {
	font-family: var(--font-1);
	font-weight: var(--font-weight-normal);
	font-size: var(--root-font-size-3);
}

ul {
	list-style: none;
	line-height: var(--line-height);
	/* font-size: small; */
}

button {
	/* transform: scaleY(1.1); */
	/* font-stretch: extra-condensed; */
	/* font-size: var(--root-font-size-2); */
	cursor: pointer;
	background-color: transparent;
	border: none;
	appearance: none;
}

button > * {
	pointer-events: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

img {
	object-fit: cover;
	width: 30rem;
	height: 30rem;
	margin: 0 auto;
}

a {
	color: var(--text-color-primary);
}

@media (min-width: 768px) {
	body {
		font-size: var(--root-font-size-3);
	}
}
